
// MAIN NAV
.nav {
    position: fixed;
    top: @header-height;
    left: -@nav-width;
    width: @nav-width;
    height: 100%;
    background-color: @color-main-light;
    border-right: 1px solid @color-main-medium;
    overflow-y: scroll;
    transition: all ease-in-out .5s;
    @media (min-width: @screen-m){
        left: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a {
                display: block;
                border-bottom: 1px solid @color-main-medium;
                text-decoration: none;
                transition: all ease-in-out .125s;
                &:hover{
                    color: @color-main-dark;
                }
            }
        }
    }
    > ul {
        padding: 1.25em;
        margin-bottom: 3em;
        .font-size(14);
        a{
            color: @color-main;
            font-weight: 700;
            padding: .65em 0;
            &:hover {
                margin-left: .5em;
            }
        }
        ul {
            a{
                padding-left: .75em;
                font-weight: 400;
                .font-size(13);
                color: @color-main-dark;
                &:hover{
                    color: @color-main;
                }
            }
        }
    }
}
